:root {
  --main-bg-color: #5d7b48;
  --text-color: #e6efe9;
  --outer-text-color: #5d7b48;
  --link-color: #bedecc;
  --border-color: #e6efe9;
}

html {
  background-color: var(--main-bg-color);
  scroll-behavior: smooth;
}

.navbar {
  background-color: var(--main-bg-color);
  padding-left: 70px;
  padding-right: 70px;
  font-size: 25px;
}

.navbar-start > a,
.navbar-end > a {
  font-family: "adorn-smooth-condensed-sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  padding-right: 30px;
  background-color: var(--main-bg-color);
  color: var(--link-color);
}

.navbar-start > a:hover,
.navbar-end > a:hover {
  background-color: var(--main-bg-color);
  transition: 0.3s;
  color: #221d0e;
}

.profilediv {
  padding-top: 50px;
  display: grid;
  place-items: center;
}

.aboutdiv {
  padding-top: 300px;
  display: grid;
  place-items: center;
}

.profileimg {
  border: 10px solid var(--border-color);
  border-radius: 20%;
  margin-bottom: 20px;
}

h1 {
  font-size: 60px;
  font-family: "adorn-smooth-condensed-sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: var(--text-color);
}
